In [ ]:
#.ipynb

In [10]:
a = 1
b = 2
c = a+b

print("Addition is",c)
print("a =",a, "b =",b ,"c=",c)

Addition is 3
a = 1 b = 2 c= 3

In [ ]:
numbers can integers,float,long,complex

In [18]:
a = "hw"
type(a)

str

In [25]:
a = 1,23,00,9890
print(a)
type(a)

(1, 23, 0, 9890)

tuple

In [27]:
a_1 = 78

chapter1
--
1.topic



2.topic1

In [30]:
num1 =980

In [36]:
str1 = "Hello python"
str2 = "ho ware you"
print(str1)

Hello python

In [60]:
str1[-12:-8]

'Hell'

In [69]:
(1+1)**5-2

30

In [73]:
(1+1)**5-2

30

In [75]:
4+6**(2-1)+5/2

12.5

In [76]:
'1'+'2'

'12'

In [78]:
'1'+'2'

'12'

In [79]:
int('2017')

2017

In [80]:
int(3.4566)

3

In [86]:
float(689.8)

689.8

In [85]:
str('276387238')

'276387238'

In [90]:
float('1278.8')

1278.8

In [91]:
str([1,2,3,3])

'[1, 2, 3, 3]'

In [92]:
list('darshan')

['d', 'a', 'r', 's', 'h', 'a', 'n']

In [93]:
list((1,2,3))

[1, 2, 3]

In [94]:
tuple([1,2,3,4])

(1, 2, 3, 4)

In [95]:
l = []
t = ()

In [96]:
type(l)

list

In [97]:
type(t)

tuple

In [98]:
l = [1,2,3,4,5]
print(l[0])

1

In [99]:
l[0]=2

In [100]:
l

[2, 2, 3, 4, 5]

In [102]:
t =(1,2,3,4,5)

In [103]:
t[0]

1